:root {
    --color-aqua: #13A6BA;
    --color-black: #021112;
    --color-grey: #677071;
    --color-white: #ffffff;
    --color-bgr: #FBEDDA;
    --color-trparent: #CCCFD0;

    --font-heading: 58px;
    --font-text: 20px;
    --font-normal: 14px;
    --font-name: 26px;

    --btn-paddings: 10px 25px;
    --btn-radius: 8px;
}


body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Literata", serif;
    
}
.container {
    /* border: 2px solid yellow; */
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color:var(--color-bgr);
    margin-bottom: 137px;
}

header .login {
    /* border: 1px solid red; */
    display: inline-block;

}

.btn {
    color: var(--color-white);
    background-color: var(--color-aqua);
    padding: var(--btn-paddings);
    border-radius: var(--btn-radius);
    border: none;

}

header ul {
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 647px;
    margin-right: 107px;
    margin-top: 50px;
    font-size: 18px;
    color: var(--color-black);
}

header ul li {
    /* border: 1px solid green; */
    display: inline-block;
    margin-right: 80px;
    color: var(--color-black);
}

header a {
    /* border: 1px solid red; */
    display: inline-block;
    color: var(--color-black);
}

header a img {
    /* border: 1px solid red; */
    display: inline-block;
    color: var(--color-black);
    width: 163px;
}

header ul li:last-child {
    margin-right: 0;
}

header .logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-left: 150px;
}

.hero h1 {
    text-align: center;
    padding-top: 116px;
    padding-bottom: 0;
    font-size: 80px;
    margin-top: 104px;
}

.hero p {
    text-align: center;
    color: var(--color-grey);
    margin-bottom: 100px;
}

header .search-tabs {
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    margin: 20px 20px 20px 0;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}

header .search-form .fa-location-dot,
header .search-form .fa-key,
header .search-form .fa-tag {
    color: var(--color-aqua);
    width: 10px;
    display: inline-block;
    /* border: 1px solid red; */
    margin-right: 4px;
}

/* добавать смайлкики и rent */
header .search-tabs .tab {
    margin-right: 45px;
    color: var(--color-trparent);
    margin-top: 20px;
}

header .search-tabs .active {
    border-bottom: 2px solid black;
    color: var(--color-black);
    font-weight: bold;
}

header .search-box {
    width: 780px;
    background-color:var(--color-white) ;
    margin-left: 560px;
    border-radius: 20px;
    padding-bottom: 20px;
}

header .input-group {
    /* border: 1px solid red; */
    display: inline-block;
    padding-inline: 20px;
    border-right: 1px solid #eee;
}

header .input-group:last-of-type {
    border-right: none;
    padding-right: 0;
}

header span {
    font-size: var(--font-normal);
    color: var(--color-grey);
    font-size: var(--font-normal);
    display: inline-block;
    /* border: 1px solid red; */
    width: 100px;
}

header input[type="text"]{
    font-size: var(--font-name);
    border: none;
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    outline: none;
}

header .btn-submit {
    padding: 16px 35px 16px 35px;
    font-size: 18px;
    vertical-align: top;
    margin-left: 40px;
    cursor: pointer;
}

header img {
    width: 1920px;
}


.objects h2 {
    font-size: var(--font-heading);
    padding-left: 350px;
}

.objects p {
    font-size: var(--font-normal);
    color: var(--color-grey);
    display: inline-block;
    padding-left: 350px;
    margin-bottom: 98px;
    display: inline-block;
}

.objects .controls {
    display: inline-block;
    margin-left: 650px;
}

.objects .controls label {
    margin-right: 44px;
}

.objects .controls label:last-child {
    margin-right: 0;
}

.objects .controls input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-grey);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.controls input[type="radio"] + label {
  color: var(--color-grey);
  cursor: pointer;
  transition: 0.2s;
  font-size: var(--font-name);

}

.controls input[type="radio"]:checked {
  border-color: #772D8B;
}

.controls input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #772D8B;
    border-radius: 50%;
}

.controls input[type="radio"]:checked + label {
  color: #772D8B;
}

.objects .controls input:last-child {
    margin-right: 0;
}

.objects .cards {
   margin-bottom: 170px;
   margin-left: 300px;
}

.objects .card {
    display: inline-block;
    width: 385px;
    border-radius: 40px;
       margin-left: 30px;
}

.objects .card img {
    width: 340px;
    margin: 23px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.objects .card .name {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;

}

.objects .card .place {
    color: var(--color-grey);
    margin-bottom: 22px;
    margin-top: 9px;
    display: block;
    padding-left: 20px;
}

.objects .card .price{
    font-size: 40px;
    padding-left: 20px;
}

.objects .card .characteristics {
    color: #CCCFD0;
    padding-left: 20px;
}

.objects .card .btn-details {
    margin-top: 35px;
    display: inline-block;
    padding: 16px 115px;
    margin-left: 33px;
    font-size: 18px;
    margin-bottom: 25px;
    background-color: var(--color-white);
    border: 1px solid #13A6BA;
    color: var(--color-aqua);
}

.objects .card:hover {
    box-shadow: 2px 4px 55px 0px #000;
    transition: 1.0s;
}

.objects .card:hover .btn-hover {
    transition: 1.0s;
    background-color: var(--color-aqua);
    color: var(--color-white);
}

.about{
    background-image: url(img/Ellipse10.png);
    background-repeat: no-repeat;
    text-align: center;
}

.about .left-place {
        position: relative;
}

.about .discover-place {
    box-shadow: -12px 16px 46px #00000036;
    display: inline-block;
    /* border: 1px solid red; */
    background-color: var(--color-white);
    border-radius: var(--btn-radius);
    padding: 14px 40px 16px 19px;
    position: absolute;
    top: 1000px;
    left: 0px;
    text-align: left;
}

.about .discover-place img {
    width: 58px;
    height: 58px;
    border-radius: var(--btn-radius);
    background-color: #F93633;
    margin-left: 15px;
}

.about .discover-place span {
    font-size: var(--font-text);
    font-weight: bolder;
}

.about .discover-place .desctiption {
    color: var(--color-grey);
    font-size: 14px;
    margin-bottom: 17px;
}

.about .house {
    /* border: 1px solid green; */
    display: inline-block;
    margin-top: 300px;
    margin-bottom: 100px;
}

.about .house img{
    width: 795px;

}

.about .about-house {
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: 200px;
    width: 700px;
    margin-left: 130px;
    text-align: left;
    
}

.about .about-house .advantage {
    display: inline-block;
}


.about .about-house .icon {
    display: inline-block;
     /* border: 1px solid red; */
     background-color: #FBFCED;
     border-radius: 10px;
     padding: 8px 10px;
     margin-right: 41px;
}

.about .about-house .icon img {
    width: 60px;
    height: 60px;
}

.about .about-house .icon-one {
    padding: 8px 10px;
    /* border: 1px solid blue; */
}

.about .about-house h2 {
    font-size: var(--font-heading);
    font-weight: bold;
    margin-bottom: 46px;
    line-height: 50px;
}

.about .about-house .house-advantage{
    font-size: 36px;
    font-weight: 600;
}

.about .about-house .desctiption{
    color: var(--color-grey);
    font-size: 16px;
}
.about .about-one-house {
     margin-bottom: 80px;
}

.location-showcase .save {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 5px;
    top: 360px;
    right: 60px;
    z-index: 1;
    padding: 7px 6px;
    box-shadow: 8px 27px 69px 0 #0000003b;
}

.location-showcase .google {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 5px;
    top: 45px;
    right: -90px;
    z-index: 1;
    padding: 25px;
    box-shadow: 8px 27px 69px 0 #0000003b;
}

.location-showcase{
    padding-top: 314px;
    border: 1px solid red;
    background-image: url(img/dgr.png), url(img/dgr1.png);
    background-repeat: no-repeat;
    background-position: right top, center right; 
    background-size: auto, contain;
    padding-bottom: 400px;
     
}

.left-cards {
        position: relative;
}

.location-showcase .left-side {
    margin-left: 150px;
}

.location-showcase .stats-bar {
    margin-left: 150px;
}

.location-showcase .left-side  .title {
    font-size: var(--font-heading);
}

.location-showcase .left-side .description {
    font-size: var(--font-text);
    color: var(--color-grey);
    display: inline-block;
    width: 567px;
    margin-bottom: 46px;
}


.location-showcase ul li {
    display: inline-block;
    padding-inline: 45px;
    border-right: 1px solid rgba(128, 128, 128, 0.144);
}

.location-showcase ul li:first-child {
    padding-left: 0;
}

.location-showcase ul li:last-child {
    padding-right: 0;
    border: none;
}

.location-showcase ul li h3 {
    font-size: 42px;
}

.location-showcase ul li span {
    font-size: 18px;
    color: var(--color-grey);
}

.location-showcase .card-main {
    display: inline-block;
    width: 583px;
    position: absolute;
    top: -600px;
    right: 200px;
    background-color: white;
    box-shadow: 8px 27px 69px 0 #0000003b;
    border-radius: 20px;
}

.location-showcase .card-main .fa-ellipsis-vertical {
    color: var(--color-grey);
    font-size: 20px;
    margin-left: 510px;
    padding: 20px;
}

.location-showcase .card-main .new-house {
    padding: 0px 41px 0px 41px;
}

.location-showcase .card-main .human1 {
    padding-left: 41px;
    margin-top: 38px;
}
.location-showcase .card-main .human2,
.location-showcase .card-main .human3,
.location-showcase .card-main .human4 {
    margin-left: -25px;
}

.location-showcase .card-main .people {
    vertical-align: 20px;
    margin-left: 30px;
}

.location-showcase .card-main .description{
    padding-left: 41px;
    margin-top: 34px;
    width: 501px;
    color: var(--color-grey);
}

.location-showcase .card-main .fa-comment,
.location-showcase .card-main .fa-reply {
    margin-left:  220px;
    margin-top: 20px;
    color: var(--color-grey);
    font-size: 30px;
    margin-bottom: 29px;

}

.location-showcase .card-main .link {
    vertical-align: 5px;
    color: var(--color-grey);
    margin-left: 9px;
}

.location-showcase .card-profile {
    display: inline-block;
    position: absolute;
    bottom: -300px;
    right: 600px;
    background-color: white;
    box-shadow: 8px 27px 69px 0 #0000003b;
    border-radius: 20px;
    width: 357px;
    height: 357px;
    text-align: center;
    padding-top: 33px;

}

.location-showcase .card-profile .city {
    font-size: var(--font-text);
    font-weight: bold;
    
}
.location-showcase .card-profile .profile-avatar {
    background-color: #FBEDDA;
    border-radius: 50%;
    margin-bottom: 14px;
}

.location-showcase .card-profile .real {
    font-size: 10px;
    color: var(--color-grey);
    margin-bottom: 26px;
}

.location-showcase .card-profile .profile-stats .posts {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    border: none;
    color: var(--color-grey);
}

.location-showcase .card-profile .profile-stats .followers {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 0px;
    border: none;
    color: var(--color-grey);
    margin-bottom: 26px;
}

.location-showcase .card-profile .btn-follow {
    color: var(--color-white);
    background-color: #772D8B;
    border-radius: 10px;
    padding: 14px 43px;
    font-size: 10px;
    margin-right: 22px;
}

.location-showcase .card-profile .btn-msg {
    color: var(--color-grey);
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    padding: 14px 43px;
    font-size: 10px;
}

.reviews {
    background-color: #FDF6ED;
    margin-top: 152px;
}

.reviews .left-feedback {
    position: relative;
}

.reviews .left-feedback .client {
    position: absolute;
    top: -200px;
    left: 0;
}

.reviews .left-feedback .bgr4 {
    display: block;
    position: absolute;
    top: 282px;
    left: 822px; 
}

.reviews .left-feedback .quotation {
    position: absolute;
    top: 53px;
    right: 59px;
}

.reviews .right-feedback {
    display: inline-block;
    margin: 189px 150px 189px 1075px;
    height: 694px;
}

.reviews .testimontails {
    color: var(--color-aqua);
    line-height: 42px;
    font-size: 18px;
    letter-spacing: 5px;
}

.reviews .right-feedback h2 {
    font-size: var(--font-heading);
}

.reviews .desctiption {
    font-size: 18px;
    width: 494px;
    margin-top: 50px;
}

.reviews .customer-name {
    margin-top: 58px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.reviews .customer {
    color: var(--color-grey);
    font-size: 18px;
}

.subscription {
    margin-top: 254px;
    margin-bottom: 300px;
    position: relative;
    
}

.subscription .left-subscribe {
    display: inline-block;
    margin-left: 150px;
    margin-right: 209px;
}

.subscription .right-subscribe {
    display: inline-block;
    vertical-align: 100px;
    position: relative;
}

.subscription .bgr {
    position: relative;

}

.subscription .stick {
    position: absolute;
    top: 0;
    left: -20px;
}

.subscription .points {
    position: absolute;
    bottom: -30px;
    right: 0px;
}

.subscription .circle {
    position: absolute;
    bottom: -250px;
    right: 0px;
}


.subscription .left-subscribe h2 {
    font-size: var(--font-heading);
    width: 694px;
    margin-top: 17px;
    margin-bottom: 40px;
}

.subscription .left-subscribe p {
    font-size: var(--font-text);
    width: 567px;
    color: var(--color-grey);
}

.subscription input[type="email"]{
    padding: 38px 10px 38px 45px;
    font-size: 18px;
    border-radius: 20px;
    width: 715px;
    border: 1px solid #C8F3F9;
}


.subscription input[type="submit"]{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 21px 46px;
    border-radius: 15px;
    font-size: 20px;
}
footer {
    /* border: 1px solid blue; */
}

footer a {
    color: var(--color-black);
}

footer .contacts, footer nav,
footer nav ul {
    display: inline-block;
}

footer .contacts {
    /* border: 1px solid red; */
    vertical-align: top;
    margin-left: 150px;  
    margin-right: 153px; 
}

footer .contacts .logo {
    margin-bottom: 38px;
    display: inline-block; 
}

footer .contacts p {
    width: 338px;
    font-size: var(--font-text);
    color: var(--color-grey);
}

footer ul{
    list-style: none;
    margin-right: 158px;
    vertical-align: top;
}

footer ul:nth-child(4){
    margin-right: 0;
    width: 283px;
}

footer ul li:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 0;
    margin-top: 10px;
}

footer ul li {
    font-size: var(--font-text);
    line-height: 42px;
    margin-bottom: 24px;
}

footer .socials {
    display: inline-block;
}

footer .social-item {
    display: inline-block;
    border: 1px solid var(--color-aqua);
    width: 41px;
    height: 38px;
    margin-right: 25px;
    text-align: center;
}